<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Skills</h2>
    </div>

    <div class="row skills-content" style="--bs-gutter-x: 3.5rem">
      <div class="col-lg-6" data-aos="fade-up">
        <div class="progress">
          <h5><i class="bi bi-bar-chart-fill"></i> Backend Development</h5>
          <span class="skill"
            >Java - Spring Boot (Data, Security, AOP, ...)<i class="val"
              >85%</i
            ></span
          >
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="progress">
          <h5><i class="bi bi-server"> </i> Database Management Systems</h5>
          <span class="skill"
            >Oracle - MySQL - Mongoodb<i class="val">75%</i></span
          >
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="progress">
          <h5><i class="bi bi-hdd-rack-fill"></i> Server Environments</h5>
          <span class="skill">
            JBoss - Tomcat - Keycloak security <i class="val">65%</i></span
          >
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="65"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="progress">
          <h5><i class="bi bi-pc-display"></i> Frontend Development</h5>
          <span class="skill">JavaScript - Angular <i class="val">75%</i></span>
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="75"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="progress">
          <h5><i class="bi bi-vector-pen"></i> Web Design</h5>
          <span class="skill">HTML/CSS - Boostrap <i class="val">85%</i></span>
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="85"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="progress">
          <h5><i class="bi bi-git"></i> Version Control Systems</h5>
          <span class="skill"
            >Git - GitHub - GitLab CI/CD - Jenkins<i class="val">80%</i></span
          >
          <div class="progress-bar-wrap">
            <div
              class="progress-bar"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Skills Section -->
